<!DOCTYPE html>
<html lang="en" ng-app="SearchApp">
    <head>
        <title>Rugal Search</title>
        <meta charset="UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="/page/assets/img/favicon.ico">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/page/assets/css/style.css">
    </head>
    <body ng-controller="SearchController as searchCtrl">
        <div class="container">
            <div class="text-center">
                <img id="logo" src="/page/assets/img/logo.gif" alt="Rugal"/>
            </div>
            <div id="search-box" class="form-group text-center">
                <input id="input-box" type="text" ng-trim="true" placeholder="Have a try" ng-model="keywords" class="form-control" ng-keypress="pressEnter($event)" required/>
                <button id="search-button" class="btn btn-info" ng-click="send(true)">Search</button>
            </div>
            <div>
                <div  class="text-center">
                    {{searchCtrl.responsebody.message}}
                </div>
                <div class="text-center" ng-show="show">
                    Search instead for <span class="bg-info" ng-click="send(false)">{{keywords}}</span>
                </div>
                <ul class="animate-container">
                    <li class="animate-repeat" ng-repeat="document in searchCtrl.responsebody.data">
                        <h3>{{document.path}}</h3>
                        <div ng-bind-html="document.fragment"></div>
                    </li>
                    <li class="animate-repeat" ng-if="results.length === 0">
                        <strong>No results found...</strong>
                    </li>
                </ul>
            </div>
            <hr>
            <footer>
                <p>&copy; Rugal Bernstein 2015</p>
            </footer>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.2/angular-sanitize.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.2/angular-animate.js"></script>
        <script src="/page/assets/js/app.js"></script>
    </body>
</html>
